crawler/tests/global_test/__pycache__/
crawler/tests/coverage_html_report/
crawler/package/private_data.py
crawler/package/__pycache__/
crawler/tests/__pycache__/
crawler/tests/.coverage
crawler/__pycache__/
Crawler.egg-info/
crawler/output/
crawler/config/
crawler/links/
crawler/data/
docs/_static
docs/_build
.coverage
notes.txt
*~
