crawler/swiftea_bot/private_data.py
crawler/swiftea_bot/__pycache__/
crawler/database/__pycache__/
crawler/index/__pycache__/
crawler/crawling/__pycache__/
crawler/tests/__pycache__/
crawler/tests/htmlcov/
crawler/__pycache__/

htmlcov/
crawler/tests/.coverage
.coverage

crawler/output/
crawler/config/
crawler/links/
crawler/data/

docs/_build
Crawler.egg-info/

notes.txt
*~
