data

crawler-env
.pytest_cache

crawler/swiftea_bot/private_data.py
crawler/tests/private_test.py

*__pycache__/

htmlcov/
crawler/tests/.coverage
.coverage
.cache/

crawler/output/
crawler/config/
crawler/links/
crawler/data/

docs/_build
Crawler.egg-info/
.eggs/
*~
